/* Importing the Nav.css file */
@import 'nav.css';
@import 'footer.css';
@import 'about.css';


/* Hero Section */
body {
    font-family: 'Lato', sans-serif;
}

#myCarousel {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    background: url(/Assets/Images/Hero\ Background.jpg);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}

.carousel-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}