/* Importing the Nav.css file */
@import 'nav.css';
@import 'footer.css';
@import 'about.css';


/* Hero Section */
body {
    font-family: 'Lato', sans-serif;
}

#myCarousel {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    background: url(/Assets/Images/Hero\ Background.jpg);
}

.carouselWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.carouselWrapper .new-arrival-sticker {
    align-items: center;
    justify-content: center;
}

.carouselItem {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.hero-image {
    z-index: 1;
    right: 80%;
}

.heroTitle {
    color: aliceblue;
    position: relative;
    top: -100px;
    font-weight: 900;
    font-size: 80;
}

.heroBackGround {
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
}

.carousel-item:nth-child(1) .heroBackGround {
    background-color: lightblue;
}

.carousel-item:nth-child(2) .heroBackGround {
    background-color: yellow;
}

.carousel-item:nth-child(3) .heroBackGround {
    background-color: rgb(255, 58, 58);
}

.carousel-item:nth-child(4) .heroBackGround {
    background-color: green
}

.carousel-item:nth-child(5) .heroBackGround {
    background-color: plum
}

.productPrice {
    position: absolute;
    bottom: 250;
    right: 510px;
}

.buyBTN {
    position: relative;
    top: 60px;
    right: 310px;
    background: green;
    color: aliceblue;
    padding: 10px 10px 10px 10px;
    border: none;
    border-radius: 10%;
}

.buyBTN:hover {
    opacity: 0.65;
}

.carousel-item .slide-1-heading {
    display: flex;
    position: relative;
    color: aliceblue;
    font-size: 130px;
    right: 600px;
    top: -20px;
    font-family: 'Orbitron', sans-serif;
}

.slide-1-heading::after {
    content: '|';
    position: absolute;
    right: 0;
    background: url(/Assets/Images/Hero\ Background.jpg);
    width: 100%;
    animation: typing 1.8s steps(12) infinite;
    animation-iteration-count: 2;
}

@keyframes typing {
    to {
        width: 0%;
    }
}

@keyframes line {
    50% {
        color: transparent;
    }
}