* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    font-size: 20px;
}

.navbar {
    background-color: #07292F;
}

.navbar-toggler {
    color: aliceblue;
    border-color: aliceblue;
}

.nav-link {
    color: aliceblue;
}

.nav-item::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #D57934;
    display: block;
    margin: left;
    transition: 0.5s;
}

.nav-item:hover::after {
    width: 100%;
}