* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.navbar {
    background-color: black;
    height: 200px;
}

.brand-logo {
    width: 400px;
    height: 400px;
}

.navbar-toggler {
    color: aliceblue;
    border-color: aliceblue;
}

.nav-item {
    font-size: 20px;
}

/* Style for the Cart Icon */
.nav-item img {
    position: absolute;
    right: 90px;
    top: 50px;
    cursor: pointer;
}


/* Style for the nav items when user hover overs the text
Text underlines green */
.nav-item::after {
    content: '';
    width: 0%;
    height: 2px;
    background: green;
    display: block;
    margin: left;
    transition: 0.5s;
}

.nav-item:hover::after {
    width: 100%;
}

/* Style for Search Bar */
.search {
    display: flex;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: gray;
    margin-right: 300px;
    cursor: pointer;
}

.search-input {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search-input::placeholder {
    color: lightgray
}

.productPrice {
    background-color: black;
    color: white;
}



/* .search-box {
    width: 80%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    text-transform: capitalize;
    outline: none;
    background-color: rgb(230, 225, 225);
}

.search-btn {
    width: 20%;
    height: 40px;
    border: none;
    outline: none;
    color: aliceblue;
    background: green;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

} */